@page
@model TravelAgency.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="card">
    <h1 class="mb-4">Login</h1>

    <form method="post">
        <div class="mb-3">
            <label asp-for="Username" class="form-label">Usuário</label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label">Senha</label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button class="btn btn-primary">Entrar</button>
    </form>

    <div class="text-danger mt-3">@Model.ErrorMessage</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
