@page
@model TravelAgency.Pages.Destinations.CreateModel

@{
	ViewData["Title"] = "Novo Destino";
}

<div class="card">
    <h1>Novo Destino</h1>

    <form method="post">

        <partial name="_DestinationForm" model="Model.Destination" />

        <button type="submit" class="btn btn-success">
            <i class="bi bi-floppy-fill"></i> Salvar
        </button>
        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
