@page "{id:int}"
@model TravelAgency.Pages.Destinations.DetailsModel

@{
	ViewData["Title"] = "Detalhes do Destino";
}

<div class="card">
	<h1>Detalhes do destino</h1>
	<hr />

	<dl class="row">
		<dt class="col-sm-3">
			Cidade
		</dt>
		<dd class="col-sm-9">
			@Model.Destination.Name
		</dd>
		<dt class="col-sm-3">
			País
		</dt>
		<dd class="col-sm-9">
			@Model.Destination.Country
		</dd>
	</dl>
	<div>
		<a class="btn btn-warning" asp-page="./Edit" asp-route-id="@Model.Destination.Id">
			<i class="bi bi-pencil"></i> Editar
		</a>
		<a class="btn btn-secondary" asp-page="./Index">
			Cancelar
		</a>
	</div>
</div>

