@model TravelAgency.Models.Reservation

<div class="mb-3">
    <label asp-for="ClientId" class="form-label">Cliente</label>
    <select asp-for="ClientId" class="form-control"
            asp-items="ViewBag.Clients">
        <option value="">Selecione</option>
    </select>
    <span asp-validation-for="ClientId" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="TourPackageId" class="form-label">Pacote Turístico</label>
    <select asp-for="TourPackageId" class="form-control"
            asp-items="ViewBag.TourPackages">
        <option value="">Selecione</option>
    </select>
    <span asp-validation-for="TourPackageId" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="ReservationDate" class="form-label">Data da Reserva</label>
    <input asp-for="ReservationDate" class="form-control" type="date" />
    <span asp-validation-for="ReservationDate" class="text-danger"></span>
</div>
