@page
@model TravelAgency.Pages.TourPackages.DeleteModel

@{
	ViewData["Title"] = "Excluir Pacote Turístico";
}

<div class="card">
	<h1>Exluir Pacote Turístico</h1>

	<h4>Você tem certeza que deseja excluir este pacote turístico?</h4>
	<hr />

	<dl class="row">
		<dt class="col-sm-2">
			Nome do Pacote
		</dt>
		<dd class="col-sm-10">
			@Model.TourPackage.Title
		</dd>
		<dt class="col-sm-2">
			Data de Início
		</dt>
		<dd class="col-sm-10">
			@Model.TourPackage.StartDate.ToString("dd/MM/yyyy")
		</dd>
		<dt class="col-sm-2">
			Capacidade Máxima
		</dt>
		<dd class="col-sm-10">
			@Model.TourPackage.MaxCapacity
		</dd>
		<dt class="col-sm-2">
			Preço
		</dt>
		<dd class="col-sm-10">
			@Model.TourPackage.Price.ToString("C", System.Globalization.CultureInfo.CurrentCulture)
		</dd>
	</dl>

	<form method="post">
		<input type="hidden" asp-for="TourPackage.Id" />

		<button type="submit" class="btn btn-danger">
			<i class="bi bi-trash"></i> Confirmar Exclusão
		</button>

		<a asp-page="./Index" class="btn btn-secondary">
			Cancelar
		</a>
	</form>

</div>
