@page
@model TravelAgency.Pages.TourPackages.EditModel

@{
	ViewData["Title"] = "Editar Pacote Turístico";
}

<div class="card">
	<h1>Editar Pacote Turístico</h1>

	<form method="post">
		<partial name="_TourPackageForm" model="Model.TourPackage" />

		<button type="submit" class="btn btn-success">
			<i class="bi bi-floppy-fill"></i> Salvar Edição
		</button>
		<a asp-page="Index" class="btn btn-secondary">Cancelar</a>
	</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}